@import './normalize';
@import './globals';

body {
    background: linear-gradient(48.73deg, #17161C 3.71%, rgba(88, 89, 96, 0.93) 79.83%, #8A8E96 100.88%);
    color: #F3F3F3;
    font-family: $font-roboto;
    font-weight: 400;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @include media(1340) {
        max-width: calc(100% - 60px);
    }
}

// Header
.header {
    &-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 27px 0 14px;
    }

    &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;

        a {
            font-weight: 300;
            font-size: 20px;
            line-height: 130%;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            font-size: 15px;
            line-height: 130%;
            color: #F3F3F3;
            text-transform: uppercase;
        }
    }

    &-center {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 11px;
    }

    &-navs {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            font-size: 15px;
            line-height: 130%;
            text-transform: uppercase;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 33px;

        &__auth {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &-link {
                font-size: 20px;
                line-height: 130%;
                font-weight: 300;
                margin-bottom: 1px;

                img {
                    transform: translateY(2px);
                }
            }

            p {
                font-size: 16px;
                font-weight: 300;
                color: #A50021;
                line-height: 135.2%;
            }
        }

        ul {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }
}
// Header end

// Breadcrumb
.breadcrumb {
    .container {
        padding: 12px 0 13px;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
    }

    a, span {
        display: inline;
    }
}
// Breadcrumb end

// Watch home
.watch-home {
    padding-bottom: 100px;

    &__container {
        position: relative;
        z-index: 1;
    }

    &__title {
        position: absolute;
        top: 0;
        left: 0;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            line-height: 130%;
        }
    }

    &__head {
        max-width: 490px;
        margin: 0 auto 48px;
        position: relative;
        z-index: 1;
        padding-top: 43px;

        .clear-btn {
            position: absolute;
            bottom: 2px;
            right: -14px;
            transform: translateX(100%);
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 14.62px;
            line-height: 130%;
        }

        ul {
            display: flex;
            align-items: flex-end;
            gap: 10px;

            .main-img {
                width: 106.62px;
                filter: drop-shadow(4px 4px 11px #17161C);
            }

            li {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                &:nth-child(2) {
                    .main-img {
                        width: 117.26px;
                    }
                }

                &:nth-child(3) {
                    .main-img {
                        width: 71.64px;
                    }
                }

                &:nth-child(4) {
                    .main-img {
                        width: 69.58px;
                    }
                }
            }

            button {
                padding: 5px 30px;
                position: relative;
                z-index: 1;
                font-size: 12px;
                color: #131112;
                min-width: 115px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
        }
    }

    &__card {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-wrap {
            position: relative;
            max-width: 937px;
            margin: 0 auto;
        }
        
        &-item {
            padding-top: 101px;

            img {
                width: 148px;
                filter: drop-shadow(4px 4px 11px rgba(23, 22, 28, 0.5));
            }

            &.active {
                padding-top: 0;
                width: 246px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 197px;
                }
            }

            p {
                font-size: 13px;
                font-weight: 300;
                margin: 60px 0 20px;
            }

            a {
                font-size: 13px;
                text-transform: uppercase;
                height: 40px;
                width: 198px;
                border: 1px solid #F3F3F3;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

    &__data {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 18px;

        .price {
            width: 303px;
            background: rgba(243, 243, 243, 0.5);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 7px 22px 4px;
            gap: 10px;

            del {
                color: #fff;
                font-size: 20px;
            }

            &-value {
                font-size: 25px;
                color: #131112;
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            gap: 15px;

            .btn-red {
                width: 208px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: #A50021;
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}
// Watch home end